{% extends 'admin-datatable.html.twig' %}

{% block title %}
Remplaclinic :: Admin :: Médecin
{% endblock %}

{% block page_title %}
Médecin
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-12"></div>
</div>
{% endblock %}

{% block bodyjs %}
{{ parent() }}
<script src="{{ versioned_asset('admin/custom/js/user-list.js') }}"></script>
{% endblock %}