{% extends 'base-page-node.html.twig' %}

{% block title %}
Compte utilisateur | Remplaclinic
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Compte utilisateur</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="content">
        <h2 class="uppercase text-[#191919] mb-[19px] text-lg font-bold">Votre demande a bien été envoyée !</h2>

        <p class="mb-[19px]">Vous avez reçu un email avec les instructions pour changer votre mot de passe.</p>

        <a href="{{ url('app_home') }}" class="text-xl form-submit text-white py-2 px-10">Se connecter</a>
    </div>
</div>
{% endblock %}