{% extends 'base-page-node.html.twig' %}

{% block title %}
Nouveau mot de passe | Remplaclinic
{% endblock %}

{% block importmap %}
    {{ importmap('reset-password') }}
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Nouveau mot de passe</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="flex flex-col gap-7 w-[830px] mr-14">
        {% if msg is defined %}
        <div>
            {{ msg }}
        </div>
        {% else %}
        <form class="flex flex-col gap-5" action="{{ path('api_reset_password_new') }}" method="post" id="form-password-new">
            <input type="hidden" name="code" class="form-password-new-element" value="{{ token.code }}">
            <div class="w-[500px] flex flex-row justify-between">
                <label for="password-new-password">Nouveau mot de passe <span class="required">*</span></label>
                <input type="password" class="form-text p-1 w-64 outline-none form-password-new-element"
                    data-required="true" id="password-new-password" name="password" autocomplete="new-password">
            </div>
            <div class="w-[500px] flex flex-row justify-between">
                <label for="password-new-password-confirmation">Confirmer le nouveau mot de passe<span class="required">*</span></label>
                <input type="password" class="form-text p-1 w-64 outline-none form-password-new-element"
                    data-required="true" id="password-new-password-confirmation" name="passwordConfirmation" autocomplete="new-password">
            </div>
            <div>
                <button type="submit" class="relative text-xl form-submit text-white py-2 px-10 form-password-new-btn-submit">
                    <span class="btn-spinner hidden absolute top-3 left-3 h-5 w-5 border-2 border-white border-t-transparent rounded-full animate-spin"></span>
                    <span>Valider</span>
                </button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}