<div class="box-infos-protegez-vous-title flex items-center">
    <h2 class="relative left-16 text-xl">Protégez-vous !</h2>
</div>
<div class="bg-blue p-4 pb-10">
     <p>
        Quelles sont les assurances indispensables ? Sur quoi pouvez vous faire l'impasse.
        <br>
        Tout est expliqué ici…
        <br>
        Retrouvez les réponses de notre partenaire MACSF.
        <br>
        <a href="{{ path('app_protection') }}" class="text-[#333333] underline">En savoir plus…</a>
    </p>
</div>