<div class="box-infos-utils-title flex items-center">
    <h2 class="relative left-16 text-xl">Infos utiles</h2>
</div>
<div class="bg-blue p-4 pb-10">
    <p>
        Que vous soyez remplacé ou remplaçant, pour un remplacement
        saisonnier ou régulier, retrouvez toutes les informations utiles
        selon votre situation…<br />
        <a href="{{ path('app_information_utile') }}" class="text-color underline">
            En savoir plus…
        </a>
    </p>
</div>