<footer class="bg-[#373737] mb-0 p-10 custom-font">
    <section class="flex flex-row gap-10 justify-evenly items-start text-[#cccccc]">
        <section class="w-1/5">
            <h2 class="uppercase text-[14px] font-bold pane-title">A propos</h2>
            <div>
                <p class="text-[11px]">Le site pour chercher et trouver un remplacement médical ou un médecin remplaçant sur Paris, la région parisienne et partout en France. Médecin, remplaçant, annonce médicale et remplacement médical, c’est ici.</p>
            </div>
        </section>

        <section class="w-1/5" >
            <h2 class="uppercase text-[14px] font-bold pane-title text-[#cccccc]">Nos services</h2>
            <div>
                <ul class="text-[11px]">
                    <li><a href="/" >Chercher un remplacement</a></li>
                    <li><a href="/" >Chercher un médecin</a></li>
                    <li><a href="/">Demande de remplacement</a></li>
                    <li><a href="/">Obtenir sa licence</a></li>
                    <li><a href="/">Besoin d'une assistance comptable ?</a></li>
                    <li><a href="/">Besoin d'une assistance juridique ?</a></li>
                    <li><a href="/">Besoin d'une assurance professionnelle ?</a></li>
                </ul>
            </div>
        </section>

        <section class="w-1/5">
            <h2 class="uppercase text-[14px] font-bold pane-title">Derniers CV</h2>
            <div>
                <ul class="text-[11px]">
                    <li>Médecine générale</li>
                    <li>Urologie</li>
                    <li>Médecine générale</li>
                    <li>Médecine générale</li>
                    <li>Anesthésie-réanimation</li>
                    <li>Médecine interne</li>
                    <li>Médecine générale</li>
                </ul>
            </div>
        </section>

        <section class="w-1/5">
            <h2 class="uppercase text-[14px] font-bold pane-title">Nous contacter</h2>
            <div class="text-[11px]">
                <p>14, avenue de l'Opéra<br>75001 Paris</p>
                <p>Tél. : 06 69 05 33 00<br>E-mail : <a href="/" target="_blank">contact@remplaclinic.com</a></p>
            </div>
        </section>

        <section class="w-1/5">
            <h2 class="uppercase text-[14px] font-bold pane-title">Telecharger</h2>
            <div>
                <div class="text-[11px]">
                    <a href="https://play.google.com/store/apps/details?id=otwoo.remplaclinic" target="_blank">
                        <img src="{{ asset('images/apple-app-store-badge.png') }}" class="w-full" alt="Apple App Store">
                    </a>
                </div>
                <div>
                    <a href="https://play.google.com/store/apps/details?id=otwoo.remplaclinic" target="_blank">
                        <img src="{{ asset('images/google-play-badge.png') }}"  class="w-full"  alt="Google Play Store">
                    </a>
                </div>
            </div>
        </section>
    </section>

    <p class="text-[11px] text-[#cccccc] text-start">
        Remplaclinic © 2025  Tous droits réservés  |
        <a href="#" class="hover:underline">Mentions légales</a>  |
        <a href="/" class="hover:underline">Nous contacter</a>  |
        <a href="/" class="hover:underline">CGU</a>  |
        <a href="/" class="hover:underline">Qui sommes-nous</a>
    </p>
</footer>