
<div class="bg-[#373737] min-w-[1170px] text-[#cccccc] text-[12px]">
    <div class="w-[1170px] mx-auto">
        <div class="clearfix pt-[35px]">
            <section class="w-[250px] max-h-[200px] float-left mb-[30px] mr-[30px]">
                <h2 class="uppercase text-[14px] font-bold pane-title">A propos</h2>
                <div>
                    <p>Le site pour chercher et trouver un remplacement médical ou un médecin
                        remplaçant
                        sur Paris, la région parisienne et partout en France. Médecin, remplaçant, annonce médicale et
                        remplacement médical, c’est ici.</p>
                </div>
            </section>

            <section class="w-[250px] max-h-[200px] float-left mb-[30px] mr-[30px]">
                <h2 class="uppercase text-[14px] font-bold pane-title">Nos services</h2>
                <div>
                    <ul class="custom-menu">
                        <li><a href="/">Chercher un remplacement</a></li>
                        <li><a href="/">Chercher un médecin</a></li>
                        <li><a href="/">Demande de remplacement</a></li>
                        <li><a href="/">Obtenir sa licence</a></li>
                        <li><a href="/">Besoin d'une assistance comptable ?</a></li>
                        <li><a href="/">Besoin d'une assistance juridique ?</a></li>
                        <li><a href="/">Besoin d'une assurance professionnelle ?</a></li>
                    </ul>
                </div>
            </section>

            <section class="w-[200px] max-h-[200px] float-left mb-[30px] mr-[30px]">
                <h2 class="uppercase text-[14px] font-bold pane-title">Derniers CV</h2>
                <div>
                    <twig:UserLatestCreated></twig:UserLatestCreated>
                </div>
            </section>

            <section class="w-[250px] max-h-[200px] float-left mb-[30px]">
                <h2 class="uppercase text-[14px] font-bold pane-title">Nous contacter</h2>
                <div>
                    <p class="pb-[19px]">14, avenue de l'Opéra<br>75001 Paris</p>
                    <p>Tél. : 06 69 05 33 00<br>E-mail : <a href="/" target="_blank">contact@remplaclinic.com</a></p>
                </div>
            </section>

            <section class="w-[100px] max-h-[200px] float-left mb-[30px] mr-[30px]">
                <h2 class="uppercase text-[14px] font-bold pane-title">Telecharger</h2>
                <div>
                    <div>
                        <a href="https://play.google.com/store/apps/details?id=otwoo.remplaclinic" target="_blank">
                            <img src="{{ asset('images/apple-app-store-badge.png') }}" class="w-full"
                                 alt="Apple App Store">
                        </a>
                    </div>
                    <div>
                        <a href="https://play.google.com/store/apps/details?id=otwoo.remplaclinic" target="_blank">
                            <img src="{{ asset('images/google-play-badge.png') }}" class="w-full"
                                 alt="Google Play Store">
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<footer role="contentinfo" class="min-w-[1170px] bg-[#373737] pb-[20px] clear-both leading-[20px] text-[#cccccc] text-[12px]">
    <div class="w-[1170px] mx-auto clearfix">
        <div class="content float-left">
            Remplaclinic © 2025 Tous droit réservés |
            <a href="/conditions-generales-dutilisation">Mentions légales</a> |
            <a href="/contacts">Nous contacter</a> |
            <a href="/conditions-generales-dutilisation">CGU</a> |
            <a href="/qui-sommes-nous">Qui sommes-nous</a>
        </div>
    </div>
</footer>