<article class="flex flex-col gap-5 w-[270px]">
    <aside class="bg-blue p-3 pt-5 pb-5 flex flex-col gap-4 items-center">
        <twig:FormRechercheRemplacant></twig:FormRechercheRemplacant>
    </aside>

    <div class="flex flex-col items-center">
        <twig:PartenaireLogoSlide></twig:PartenaireLogoSlide>
    </div>

    <div class="flex flex-col w-72 text-white pt-5">
        {% include 'partials/box-infos-utiles.html.twig' %}
    </div>
</article>
