<div class="row" id="root">
    <div class="col-12">
        <div class="card">
            {% if user is defined %}
            <div class="card-body" ref="formEl" data-url="{{ path('api_clinic_update', {id: user.id}) }}"
                data-detail-url="{{ path('api_clinic_detail', {id: user.id}) }}">
                {% else %}
                <div class="card-body" ref="formEl" data-url="{{ path('api_clinic_new') }}">
                    {% endif %}
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <div id="general-information">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-secondary"
                                                    v-on:click="changeCollapse(1)">
                                                    <i class="fas mr-2"
                                                        v-bind:class="[shownCollapse == -1 || shownCollapse == 1 ? 'fa-arrow-circle-down' : 'fa-arrow-circle-right']"></i>
                                                    Informations générales
                                                </button>
                                            </h5>
                                        </div>

                                        <Transition name="collapse">
                                            <div v-show="shownCollapse == -1 || shownCollapse == 1">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="clinic-position">Fonction du
                                                                    demandeur</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-position" placeholder="John"
                                                                    v-model="userData.position"
                                                                    :class="getErrorClass('position')">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-civility">Civilité *</label>
                                                                <select id="clinic-civility" class="form-control"
                                                                    v-model="userData.civility"
                                                                    :class="getErrorClass('civility')">
                                                                    <option selected disabled v-bind:value="null">-
                                                                        Choisir
                                                                        une valeur -</option>
                                                                    <option value="M">Monsieur</option>
                                                                    <option value="Mme">Madame</option>
                                                                    <option value="Mlle">Mademoiselle</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-surname">Prénom *</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-surname" placeholder="John"
                                                                    v-model="userData.surname"
                                                                    :class="getErrorClass('surname')">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-name">Nom *</label>
                                                                <input type="text" class="form-control" id="clinic-name"
                                                                    placeholder="Doe" v-model="userData.name"
                                                                    :class="getErrorClass('name')">
                                                            </div>
                                                        </div>
                                                        <div class="col-6 pl-5">
                                                            <div class="form-group">
                                                                <label for="clinic-telephone">Téléphone *</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-telephone" placeholder="Ex : 0642260032"
                                                                    v-model="userData.telephone"
                                                                    :class="getErrorClass('telephone')">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-telephone2">Mobile</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-telephone2" placeholder="Ex : 0642260032"
                                                                    v-model="userData.telephone2">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-fax">Fax</label>
                                                                <input type="text" class="form-control" id="clinic-fax"
                                                                    v-model="userData.fax">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label for="clinic-email">E-mail *</label>
                                                                <input type="email" class="form-control"
                                                                    id="clinic-email" placeholder="john.doe@mail.com"
                                                                    v-model="userData.email"
                                                                    :class="getErrorClass('email')">
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label for="clinic-password">Mot de passe *</label>
                                                                <input type="password" class="form-control"
                                                                    id="clinic-password" v-model="userData.password"
                                                                    :class="getErrorClass('password')">
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label for="clinic-password-confirmation">Confirmer
                                                                    *</label>
                                                                <input type="password" class="form-control"
                                                                    id="clinic-password-confirmation"
                                                                    v-model="userData.passwordConfirmation"
                                                                    :class="getErrorClass('passwordConfirmation')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div>
                                                                <label>Statut</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio"
                                                                    name="clinicStatus" id="clinicStatus1" value="1"
                                                                    v-model="userData.status">
                                                                <label class="form-check-label" for="clinicStatus1">
                                                                    Actif
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio"
                                                                    name="clinicStatus" id="clinicStatus2" value="0"
                                                                    v-model="userData.status">
                                                                <label class="form-check-label" for="clinicStatus2">
                                                                    Bloqué
                                                                </label>
                                                            </div>
                                                            <div v-if="getErrorClass('status') === 'is-invalid'"
                                                                class="text-danger">
                                                                Choisir un statut
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div>
                                                                <label>Rôles</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="clinic-role-4" value="4"
                                                                    v-model="userData.roles">
                                                                <label class="form-check-label" for="clinic-role-4">
                                                                    Remplaçant
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="clinic-role-5" value="5"
                                                                    v-model="userData.roles">
                                                                <label class="form-check-label" for="clinic-role-5">
                                                                    Clinique / Service clinique
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="clinic-role-6" value="6"
                                                                    v-model="userData.roles">
                                                                <label class="form-check-label" for="clinic-role-6">
                                                                    Cabinet
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="clinic-role-7" value="7">
                                                                <label class="form-check-label" for="clinic-role-7">
                                                                    Directeur
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="clinic-role-3" value="3"
                                                                    v-model="userData.roles">
                                                                <label class="form-check-label" for="clinic-role-3">
                                                                    Administrator
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="clinic-role-8" value="8"
                                                                    v-model="userData.roles">
                                                                <label class="form-check-label" for="clinic-role-8">
                                                                    Webmaster
                                                                </label>
                                                            </div>
                                                            <div v-if="getErrorClass('roles') === 'is-invalid'"
                                                                class="text-danger">
                                                                Choisir un role
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </Transition>
                                    </div>
                                    <div>
                                        <div id="establishment-information">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-secondary"
                                                    v-on:click="changeCollapse(2)">
                                                    <i class="fas mr-2"
                                                        v-bind:class="[shownCollapse == -1 || shownCollapse == 2 ? 'fa-arrow-circle-down' : 'fa-arrow-circle-right']"></i>
                                                    Etablissement
                                                </button>
                                            </h5>
                                        </div>
                                        <Transition name="collapse">
                                            <div v-show="shownCollapse == -1 || shownCollapse == 2">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="clinic-service-name">Nom du service
                                                                </label>
                                                                <twig:SelectSpeciality
                                                                    class="form-control select2-input"
                                                                    id="clinic-service-name"
                                                                    v-model="userData.serviceName">
                                                                    <option v-bind:value="null">Toutes spécialités
                                                                    </option>
                                                                </twig:SelectSpeciality>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-chief-service-name">Nom du chef de
                                                                    service</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-chief-service-name" placeholder="Doe"
                                                                    v-model="userData.chiefServiceName"
                                                                    :class="getErrorClass('chiefServiceName')">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-establishement-name">Nom de
                                                                    l'établissement *</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-establishement-name"
                                                                    v-model="userData.establishmentName"
                                                                    :class="getErrorClass('establishmentName')">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-beds-count">Nombre de lits</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-beds-count" v-model="userData.bedsCount"
                                                                    :class="getErrorClass('bedsCount')">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-site-web">Site internet</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-site-web" v-model="userData.siteWeb"
                                                                    :class="getErrorClass('siteWeb')">
                                                            </div>
                                                        </div>
                                                        <div class="col-6 pl-5">
                                                            <div class="form-group">
                                                                <label for="clinic-address">Adresse *</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-address" placeholder="1234 Main Street"
                                                                    v-model="userData.thoroughfare"
                                                                    :class="getErrorClass('thoroughfare')">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-premise">Adresse 2</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-premise" v-model="userData.premise">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-postal-code">Code postal</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-postal-code"
                                                                    v-model="userData.postalCode"
                                                                    :class="getErrorClass('postalCode')">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-locality">Ville</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-locality" v-model="userData.locality"
                                                                    :class="getErrorClass('locality')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </Transition>
                                    </div>
                                    <div>
                                        <div id="supplementary-information">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-secondary"
                                                    v-on:click="changeCollapse(3)">
                                                    <i class="fas mr-2"
                                                        v-bind:class="[shownCollapse == -1 || shownCollapse == 3 ? 'fa-arrow-circle-down' : 'fa-arrow-circle-right']"></i>
                                                    Informations supplémentaires
                                                </button>
                                            </h5>
                                        </div>
                                        <Transition name="collapse">
                                            <div v-show="shownCollapse == -1 || shownCollapse == 3">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="clinic-comment">Commentaire</label>
                                                                <textarea class="form-control editor"
                                                                    id="clinic-comment" rows="10"
                                                                    v-model="userData.comment"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </Transition>
                                    </div>
                                    <div>
                                        <div id="abonnemnt-information">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-secondary"
                                                    v-on:click="changeCollapse(4)">
                                                    <i class="fas mr-2"
                                                        v-bind:class="[shownCollapse == -1 || shownCollapse == 4 ? 'fa-arrow-circle-down' : 'fa-arrow-circle-right']"></i>
                                                    Abonnement
                                                </button>
                                            </h5>
                                        </div>
                                        <Transition name="collapse">
                                            <div v-show="shownCollapse == -1 || shownCollapse == 4">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="clinic-subscription-status"
                                                                    true-value="1"
                                                                    false-value="0"
                                                                    v-model="userData.subscriptionStatus">
                                                                <label class="form-check-label" for="clinic-subscription-status">
                                                                    Abonnement actif
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="clinic-subscription-notification"
                                                                    true-value="1"
                                                                    false-value="0"
                                                                    v-model="userData.subscriptionEndNotification">
                                                                <label class="form-check-label" for="clinic-subscription-notification">
                                                                    Email fin abonnement
                                                                </label>
                                                            </div>
                                                            <div class="form-group mt-3">
                                                                <label for="clinic-subscription-end">Valable jusqu'au</label>
                                                                <div class="input-group date" id="clinic-subscription-end"
                                                                    data-target-input="nearest">
                                                                    <input type="text"
                                                                        class="form-control datetimepicker-input"
                                                                        data-target="#clinic-subscription-end" id="clinic-subscription-end-input" v-model="userData.subscriptionEndAt" />
                                                                    <div class="input-group-append"
                                                                        data-target="#clinic-subscription-end"
                                                                        data-toggle="datetimepicker">
                                                                        <div class="input-group-text"><i
                                                                                class="fa fa-calendar"></i></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="clinic-installation-count">Demande d'installation restante</label>
                                                                <input type="text" class="form-control"
                                                                    id="clinic-installation-count" v-model="userData.installationCount">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </Transition>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12 pl-3">
                                    <button type="button" class="btn btn-secondary btn-flat" id="btn-clinic-save"
                                        v-on:click="onCreateUser">
                                        <i class="fas fa-save"></i> Enregistrer
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-flat ml-3"
                                        id="btn-clinic-save" v-on:click="changeCollapse(-1)">
                                        <i class="fas fa-envelope-open"></i> $% shownCollapse == -1 ? 'Cacher tout' :
                                        'Afficher tout' %$
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .collapse-enter-active {
            transition: all 0.3s ease-out;
        }

        .collapse-leave-active {
            transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
        }

        .collapse-enter-from,
        .collapse-leave-to {
            transform: translateX(20px);
            opacity: 0;
        }
    </style>