{% extends 'mails/base.html.twig' %}

{% block body %}
	<tr>
		<td colspan="2" style="font-family: 'ubuntu', sans-serif;text-align:center;padding:15px;font-size:18px;">Compte utilisateur !</td>
	</tr>
	<tr>
		<td colspan="2" style="font-family: 'ubuntu', sans-serif;text-align:left;padding:15px;">
			Bonjour <b>{{ prenom ~ ' ' ~ nom }}</b>,
			<br><br>
			Vous pouvez changer votre mot de passe en cliquant sur le bouton suivant (avant {{ date_expiration }}):
		</td>
	</tr>
	<tr>
        <td style="vertical-align:middle;padding:15px;text-align:center;font-family: 'ubuntu', sans-serif;" colspan="2">
            <a href="{{ url('app_reset_password_new', { code: code }) }}" style="background-color:#5d5d5d;
                            border:2px solid #6b6b6b;
                            border-radius: 3px;
                            font-family: 'ubuntu', sans-serif;
                            line-height: normal;
                            margin:auto;
                            padding:5px 10px 7px;
                            vertical-align: middle;
                            color: #FFF;
                            width:300px;
                            height:45px;
                            font-size:18px;
                            font-weight:normal;
                            cursor:pointer;
                            display:block;
                            text-decoration:none;
                            line-height:50px;">Changer mon mot de passe</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-family: 'ubuntu', sans-serif;text-align:left;padding:15px;">
            Si c'est pas vous qui a demande le changement de votre mot de passe, veuillez ignorer ce message.
        </td>
    </tr>
{% endblock %}
