#top-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 2000;
    background: transparent;
    display: none;
}

.top-loader-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(
        90deg,
        #6c757d,
        #adb5bd,
        #6c757d
    );
    animation: loader-move 1.2s infinite linear;
}

@keyframes loader-move {
    0%   { width: 0%; }
    50%  { width: 70%; }
    100% { width: 100%; }
}