{% extends 'base-page-register.html.twig' %}

{% block title %}
Confirmation de la candidature | Remplaclinic
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Confirmation de votre candidature</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="content">
        <h2 class="uppercase text-[#191919] mb-[19px] text-lg font-bold">{{ message1 }}</h2>

        <p class="mb-[19px]">{{ message2|raw }}</p>

        <p class="mb-[19px]">{{ message3|raw }}</p>

        <a href="{{ dashboard_url }}" class="text-xl form-submit text-white pt-2 pb-2 pr-10 pl-10">Accéder à mon tableau de bord</a>
    </div>
</div>
{% endblock %}