{% extends 'base.html.twig' %}

{% block title %}
    Conditions générales d'utilisation | Remplaclinic
{% endblock %}

{% block body %}
    <h1>Conditions générales d'utilisation</h1>
{% endblock %}
