<div class="flex flex-col gap-4 justify-start items-start">
	<div class="w-96 flex flex-row justify-end gap-2">
		<label for="user-address-thoroughfare">Adresse
			<span class="form-required" title="This field is required">*</span>
		</label>
		<input type="text" class="form-text p-1 w-64 outline-none form-signup-element" data-required="true" autocomplete="address-line1" id="user-address-thoroughfare" name="thoroughfare" size="30" maxlength="255"/>
	</div>
	<div class="w-96 flex flex-row justify-end gap-2">
		<label for="user-address-premise"></label>
		<input type="text" class="form-text p-1 w-64 outline-none form-signup-element" autocomplete="address-line2" id="user-address-premise" name="premise" size="30" maxlength="255"/>
	</div>
	<div class="w-96 flex flex-row justify-end gap-2">
		<label for="user-address-postal-code">Code postal
			<span class="form-required" title="This field is required">*</span>
		</label>
		<input type="text" class="form-text p-1 w-64 outline-none form-signup-element" autocomplete="postal-code" id="user-address-postal-code" data-required="true" name="postalCode" size="10" maxlength="255"/>
	</div>
	<div class="w-96 flex flex-row justify-end gap-2">
		<label for="user-address-locality">Ville
			<span class="form-required" title="This field is required">*</span>
		</label>
		<input type="text" class="form-text p-1 w-64 outline-none form-signup-element" data-required="true" autocomplete="address-level2" id="user-address-locality" name="locality" size="30" maxlength="255"/>
	</div>
</div>
