<div class="bg-blue-ciel border-blue-ciel text-sm p-4 flex gap-4 flex-col">
	<div class="flex flex-row justify-between">
		<div>
			<label for="user-email">E-mail
				<span class="form-required" title="This field is required">*</span>
			</label>
			<input type="text" id="user-email" name="email" class="form-text required p-2 form-signup-element" data-required="true" autocomplete="username"/>
		</div>
		<div>
			<div class="password-strength"></div>
			<label for="user-pass1">Mot de passe
				<span class="form-required" title="This field is required">*</span>
			</label>
			<input type="password" class="password-field form-text required password-processed p-2 form-signup-element" data-required="true" id="user-pass1" name="password" autocomplete="new-password"/>
		</div>
		<div>
			<label for="user-pass2">Confirmer
				<span class="form-required" title="This field is required">*</span>
			</label>
			<input type="password" class="password-confirm form-text required p-2 form-signup-element" id="user-pass2" name="passwordConfirmation" autocomplete="new-password" data-required="true" data-confitmation="password"/>
		</div>
	</div>
	<div class="blue-span">
		<i>
			Un mot de passe de votre choix, composé de lettres ou de chiffres, minimum 6 caractères, sans espace ni caractère "exotique"... et dont vous vous souviendrez facilement...
        </i>
	</div>
</div>
