{% extends 'register/base-page-register.html.twig' %}

{% block title %}
Création de compte | Remplaclinic
{% endblock %}

{% block importmap %}
{{ importmap('signup') }}
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Je crée mon compte</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="flex flex-col gap-2">
        <form action="{{ path('api_clinic_new') }}" method="post" enctype="application/json" id="form-signup">
            <input type="hidden" name="status" class="form-signup-element" value="1">
            <input type="hidden" name="roles[0]" class="form-signup-element" value="5">
            <div class="w-[870px] h-[430px] flex flex-col p-3 gap-4 border">
                <h2 class="text-2xl">
                    <b>Informations générales</b>
                </h2>
                <div class="flex flex-row justify-between">
                    <div class="w-[430px] flex flex-col gap-4 justify-start items-end">
                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-civilite" class="form-label">
                                Civilité
                                <span class="required">*</span>
                            </label>
                            <select id="user-civilite" name="civility"
                                class="form-text p-1 w-64 outline-none form-signup-element" data-required="true">
                                <option value="">- Choisir une valeur -</option>
                                <option value="M">Monsieur</option>
                                <option value="Mme">Madame</option>
                                <option value="Mlle">Mademoiselle</option>
                            </select>
                        </div>

                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-prenom">Prénom
                                <span class="required">*</span>
                            </label>
                            <input type="text" class="form-text p-1 w-64 outline-none form-signup-element"
                                data-required="true" id="user-prenom" name="surname" />
                        </div>

                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-nom">Nom
                                <span class="required">*</span>
                            </label>
                            <input type="text" class="form-text p-1 w-64 outline-none form-signup-element"
                                data-required="true" id="user-nom" name="name" />
                        </div>
                        <div class="w-[100%] flex flex-row justify-end gap-2">
                            <label for="user-position">Fonction du demandeur
                                <input type="text" class="form-text p-1 w-64 outline-none form-signup-element"
                                    id="user-position" name="position" />
                            </label>
                        </div>
                    </div>

                    {% include 'register/_form-telephone.html.twig' %}
                </div>
                {% include 'register/_form-password.html.twig' %}
            </div>
            <div class="w-[870px] h-[330px] flex flex-col p-3 gap-7 border">
                <h2 class="text-2xl">
                    <b>Etablissement</b>
                </h2>
                <div class="flex flex-row justify-between">
                    <div class="w-[430px] flex flex-col gap-4 justify-start items-end">
                        <div class="w-auto flex flex-row justify-end gap-2">
                            <label for="user-chief-service-name">Nom du chef de service</label>
                            <input type="text" class="form-text w-64 p-1 outline-none form-signup-element"
                                id="user-chief-service-name" name="chiefServiceName" size="60" maxlength="255" />
                        </div>
                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-service-name">Nom du service</label>
                            <twig:SelectSpeciality id="user-service-name" name="serviceName"
                                class="form-text p-1 w-64 outline-none form-signup-element"></twig:SelectSpeciality>
                        </div>
                        <div class="w-auto flex flex-row justify-end gap-2">
                            <label for="user-establishment-name">Nom de l'établissement
                                <span class="form-required" title="This field is required">*</span>
                            </label>
                            <input type="text" class="form-text p-1 w-64 outline-none form-signup-element"
                                data-required="true" id="user-establishment-name" name="establishmentName" size="60"
                                data-maxlength="255" />
                        </div>
                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-beds-count">Nombre de lits</label>
                            <input type="text" class="form-text p-1 w-64 outline-none form-signup-element"
                                id="user-beds-count" name="bedsCount" size="60" maxlength="255" data-regex="\d+" />
                        </div>
                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-site-web">Site internet</label>
                            <input class="form-text p-1 w-64 outline-none" type="text" id="user-site-web" name="siteWeb"
                                size="60" maxlength="255" />
                        </div>
                    </div>

                    {% include 'register/_form-address.html.twig' %}
                </div>
            </div>
            {% include 'register/_form-btn-validation.html.twig' %}
        </form>
    </div>
</div>
{% endblock %}