{% extends 'base-page-register.html.twig' %}

{% block title %}
    {% if connected is defined and connected %} Mes infos personnelles {% else %} Création de compte {% endif %}| Remplaclinic
{% endblock %}

{% block importmap %}
{{ importmap('signup') }}
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Je {% if connected is defined and connected %} modifie {% else %} creé {% endif %} mon compte médecin</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="flex flex-col gap-2">
        <form
            {% if connected is defined and connected %}
            action="{{ path('api_doctor_update', { id: connectedUser.id }) }}"
            data-detail-url="{{ path('api_doctor_detail', { id: connectedUser.id }) }}"
            {% else %}
            action="{{ path('api_doctor_new') }}"
            {% endif %}
            method="post"
            enctype="application/json"
            id="form-signup"
        >
            <input type="hidden" name="status" class="form-signup-element" value="1">
            <input type="hidden" name="roles[0]" class="form-signup-element" value="6">
            <div class="w-[870px] min-h-[430px] flex flex-col p-3 gap-6 border">
                <h2 class="text-2xl inscription-fieldset-legend">
                    <b>Informations générales</b>
                </h2>
                <div class="flex flex-row justify-between">
                    <div class="w-[430px] flex flex-col gap-4 justify-start items-end">
                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-civilite" class="form-label">
                                Civilité <span class="required">*</span>
                            </label>
                            <select id="user-civilite" name="civility"
                                class="form-text p-1 w-64 outline-none form-signup-element" data-required="true">
                                <option value="">- Choisir une valeur -</option>
                                <option value="M">Monsieur</option>
                                <option value="Mme">Madame</option>
                                <option value="Mlle">Mademoiselle</option>
                            </select>
                        </div>
                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-prenom">Prénom <span class="required">*</span></label>
                            <input type="text" class="form-text p-1 w-64 outline-none form-signup-element"
                                id="user-prenom" data-required="true" name="surname" />
                        </div>

                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-nom">Nom <span class="required">*</span></label>
                            <input type="text" class="form-text p-1 w-64 outline-none form-signup-element" id="user-nom"
                                data-required="true" name="name" />
                        </div>
                        <div class="flex flex-row gap-2">
                            <label for="user-numero-inscription" class="text-right">Numéro d'inscription au conseil de l'Ordre</label>
                            <div>
                                <input type="text" class="form-text p-1 w-64 outline-none form-signup-element" id="user-numero-inscription" name="ordinaryNumber" />
                            </div>
                        </div>
                    </div>

                    {% include 'register/_form-telephone.html.twig' %}
                </div>
                {% include 'register/_form-password.html.twig' %}
            </div>
            <div class="w-[870px] pb-7 flex flex-col p-3 gap-7 border">
                <h2 class="text-2xl inscription-fieldset-legend">
                    <b>Etablissement</b>
                </h2>
                <div class="flex flex-row justify-between">
                    <div class="w-[430px] flex flex-col gap-4 justify-start items-end">
                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-specialite" class="form-label">
                                Spécialité
                                <span class="required">*</span>
                            </label>
                            <twig:SelectSpeciality id="user-specialite" name="speciality" data-required="true"
                                class="form-text p-1 w-64 outline-none form-signup-element"></twig:SelectSpeciality>
                        </div>
                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-site-web">Site internet</label>
                            <input class="form-text p-1 w-64 outline-none" type="text" id="user-site-web" name="siteWeb"
                                size="60" maxlength="255" />
                        </div>
                        <div class="w-auto flex flex-row justify-end gap-2">
                            <label for="user-nb-consultations">Nombre de consultations</label>
                            <input class="form-text p-1 w-64 outline-none form-signup-element" type="text" id="user-nb-consultations" name="consultationCount" size="60" maxlength="255" />
                        </div>
                        <div class="w-96 flex flex-row justify-end gap-2">
                            <label for="user-consultation-par" class="form-label">
                                Par
                                <span class="required">*</span>
                            </label>
                            <select id="user-consultation-par" name="per" class="form-text p-1 w-64 outline-none form-signup-element" data-required="true">
                                <option value="">- Choisir une valeur -</option>
                                <option value="jour">jour</option>
                                <option value="semaine">semaine</option>
                            </select>
                        </div>
                    </div>

                    {% include 'register/_form-address.html.twig' %}
                </div>
            </div>
            {% include 'register/_form-btn-validation.html.twig' %}
        </form>
    </div>

    {% if is_granted('ROLE_USER') %}
        {% include 'register/_confirmation-desinscription.html.twig' %}
    {% endif %}
</div>
{% endblock %}