{% extends 'base-page-register.html.twig' %}

{% block title %}
Validation de l'inscription | Remplaclinic
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Validation de l'inscription</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="content">
        <h2 class="uppercase text-[#191919] mb-[19px] text-lg font-bold">{{ message1 }}</h2>

        <p class="mb-[19px]">Vous avez reçu un email avec les informations pour vous connecter avec votre compte.</p>

        <p class="mb-[19px]">{{ message2|raw }}</p>

        <a href="{{ url('app_user_espace_perso') }}" class="text-xl form-submit text-white py-2 px-10">Accéder à mon espace privé</a>
    </div>
</div>
{% endblock %}