@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'AvantGardeITCbyBT-Book';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/avantgardebookbt.woff) format('woff');
  }

  body {
    font-family: "AvantGardeITCbyBT-Book", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }
}

/* header */
.section-1 {
  background: url(../images/fond-header.png) #fff repeat-x bottom;
}

.fond-menu {
  background: url("../images/fond-menu.png") repeat-x;
  width: 100%;
  height: 51px;
  clear: both;
}

#login-root h2 {
  background: url(../images/compte-ferme-fleche.png) #ff7e1e no-repeat 10px
}

.pane-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: url("../images/bg-line.png") no-repeat 0 bottom;
  padding: 0 0 18px 0;
  margin-bottom: 20px;
  line-height: normal;
}

.custom-bg-slide {
  background: url("../images/sliders/bg-slide.png");
}

.customer-bg-fleches {
  width: 330px;
  padding: 50px 30px 0 30px;
  background: url("../images/sliders/fleches-recherche-slide.png") no-repeat;
  height: 320px;
}

/********* Slide **********/
.slide-item-titre-content {
  background: url("../images/sliders/fond-slide-title.png") repeat-x;
  cursor: pointer;
  width: 220px;
  height: 82px;
}

.slide-item.active .slide-item-titre-content {
  background: url("../images/sliders/fleche-actif-slide.png") no-repeat 10px, url("../images/sliders/fond-titre-slide-active.png") repeat-x;
}

.slide-item.active .slide-item-titre-content .haut-titre {
  color: #ffffff;
}

.slide-item.active .slide-item-titre-content {
  padding-left: 55px;
}

.slide-container-item {
  display: none;
}

.slide-container-item.active {
  display: block;
}

.slide-container-item .slide-container-item-body {
  width: 300px;
}

.en-savoir-plus {
  position: absolute;
  background-color: #f9a645;
  background-image: linear-gradient(to bottom, #f9a645, #e59230);
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7) inset;
  border-radius: 3px;
  height: 31px;
  margin-left: 10px;
  color: #fff;
  font-weight: normal;
  width: 100px;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.en-savoir-plus:hover {
  background-image: linear-gradient(to bottom, #e59230, #f9a645);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* end slider home */

/* slide partenaire logo */
.slide-partenaire-logo-item {
  display: none;
}

.slide-partenaire-logo-item.active {
  display: block;
}
/* end slide partenaire logo */

/* slide partenaire logo */
.slide-partenaire-logo-item {
  display: none;
}

.slide-partenaire-logo-item.active {
  display: block;
}
/* end slide partenaire logo */

/* slide reference logo */
.slide-evidence-item {
  display: none;
}

.slide-evidence-item p {
  margin: 0 0 15px 0;
}

.slide-evidence-item.active {
  display: block;
}
/* end slide reference logo */

.pane-block-22 {
  background: url("../images/sliders/fleche-rempla-desc.png") no-repeat;
}

.text {
  font-size: 15px;
  color: #4E4E4E;
}

.blue-span {
  color: #5bb7df;
}

.bg {
  background-color: #ebebeb;
}

.bg-blue {
  background-color: #57b2db;
}

.bg-with {
  background-color: #e4f5fb;
}

.blue-bg {
  background-color: #297fcb;
}

.bg-blue-ciel {
  background-color: #E4F5FB;
}

.bg-line-blue {
  background: url("../images/bg-line.png") no-repeat 0 bottom;
}

.reflection {
  position: relative;
}

.reflection::after {
  content: attr(data-text);
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.2);
  transform: scaleY(-1);
  opacity: 0.5;
}

.text-color {
  font-size: 15px;
  color: #4E4E4E;
}

.box-infos-utils-title {
  background-image: url("../images/sidebar_infos.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
}

.box-infos-protegez-vous-title {
  background: url("../images/sliders/parapluie.png") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
}

.angle_100gratuit_left {
  position: absolute;
  right: 0;
  top: 0;
}

.form-submit {
  background-color: #4E4E4E;
  box-shadow: 0 0 1px 1px #4E4E4E;
  border: 1px solid #CFCFCF;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #807f7f;
}

.inputShadow {
  box-shadow: 0 0 1px 1px #4E4E4E;
}

.form-text {
  background-color: #EAEAEA;
  border-top: 1px solid #C1C1C1;
}

.picto-remplacant {
  background-image: url('../images/picto-remplacant.png');
  background-repeat: no-repeat;
  display: block;
  height: 160px;
  background-position: 20px -5px;
  line-height: 350px;
  width: 212px;
}

.picto-remplacant:hover {
  width: 212px;
  height: 160px;
  background-position: 20px -175px;
}

.picto-service-clinique {
  background-image: url('../images/picto-service-clinique.png');
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 160px;
  background-position: -5px -5px;
  line-height: 350px;
}

.picto-service-clinique:hover,
.picto-cabinet-medical:hover,
.picto-clinique:hover {
  width: 160px;
  height: 160px;
  background-position: -5px -175px;
}

.picto-clinique {
  background-image: url('../images/picto-clinique.png');
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 160px;
  background-position: -5px -5px;
  line-height: 350px;
}

.picto-cabinet-medical {
  background-image: url('../images/picto-cabinet-medical.png');
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 160px;
  background-position: -5px -5px;
  line-height: 350px;
}

.bgbouton {
  background-color: #4e4e4e;
  box-shadow: 0 0 1px 1px #4e4e4e;
  border: 1px solid #cfcfcf;
}

.inputShadow {
  box-shadow: 0 0 1px 1px #4e4e4e;
}

/* footer */
.clearfix {
  content: "";
  display: table;
  clear: both;
}

.custom-menu li {
  list-style-image: url(../images/puce_footer.png);
}

.btn-form-submit {
  background-color: #5d5d5d;
  background-image: -moz-linear-gradient(top, #5d5d5d, #3b3b3b);
  background-image: -ms-linear-gradient(top, #5d5d5d, #3b3b3b);
  background-image: -o-linear-gradient(top, #5d5d5d, #3b3b3b);
  background-image: -webkit-gradient(linear, top, bottom, from(#5d5d5d), to(#3b3b3b));
  background-image: -webkit-linear-gradient(top, #5d5d5d, #3b3b3b);
  background-image: linear-gradient(top, #5d5d5d, #3b3b3b);
  border: 2px solid #6b6b6b;
  border-radius: 3px;
  font-family: 'ubuntu', sans-serif;
  line-height: normal;
  margin-right: 5px;
  padding: 5px 10px 7px;
  vertical-align: middle;
  color: #fff;
  height: 45px;
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .7) inset;
}

.partenaire-1 {
  background: url(../images/fleche-gauche-partenaire.png) no-repeat right 35px;
  padding-top: 30px;
  padding-right: 30px;
  margin-right: 20px;
}

.partenaire-2 {
  background: url(../images/fleche-droite-partenaire.png) no-repeat left 35px;
  padding-top: 30px;
  padding-left: 30px;
  margin-left: 20px;
}

.btn-partenaires {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #646464;
  background-image: -moz-linear-gradient(top, #646464, #171717);
  background-image: -ms-linear-gradient(top, #646464, #171717);
  background-image: -o-linear-gradient(top, #646464, #171717);
  background-image: -webkit-linear-gradient(top,#646464,#171717)
}

.btn-partenaires a {
  float: left;
  padding: 15px 30px 30px 30px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}
/** ---------------- INSCRIPTION ----------------**/
.picto-group {
  background-image: url('../images/picto-directeur-cliniques.png');
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 160px;
  background-position: -5px -5px;
  line-height: 350px;
}

.picto-group:hover {
  width: 160px;
  height: 160px;
  background-position: -5px -175px;
}

/* form validation */
.invalid {
  border: 2px solid #ef4444;
}
/* end form validation */