{% extends 'base-page-register.html.twig' %}

{% block title %}
	Recherche des remplaçants | Remplaclinic
{% endblock %}

{% block importmap %}
{{ importmap('search-replacement') }}
{% endblock %}

{% block page_nav %}
	<h1 class="blue-span text-3xl py-[10px]">Espace personnel</h1>
{% endblock %}

{% block article_content %}
	<div class="pt-7">
        <div class="flex flex-col">
            <h2 class="blue-span text-3xl py-[10px]">Recherche des remplaçants</h2>

            <form class="flex flex-col gap-5" method="get" action="{{ path('app_replacement_search_result') }}">
                <div class="pt-4">
                    Mon établissement de santé ou mon cabinet situé en
                    <twig:SelectRegion class="w-28 p-2 border rounded-md text-base outline-none" name="region">
                        <option value="All" selected="selected">Région</option>
                    </twig:SelectRegion>
                    et je recherche un remplaçant spécialisé en
                    <twig:SelectSpeciality class="w-28 p-2 border rounded-md text-base outline-none" name="specialite">
                        <option value="All" selected="selected">Spécialité</option>
                    </twig:SelectSpeciality>
                </div>
                <div class="flex items-center justify-center">
                    <button type="submit" class="text-xl form-submit text-white py-2 px-10">
                        Rechercher
                    </button>
                </div>
            </form>

            {% if result is defined %}
            <div class="mt-5">
                <p class="text-[22px] text-[#2d8eb8] font-normal">
                    {{ result.totalRecords }}
                    remplaçant(s) correspondent à vos critères de recherche
                </p>
            </div>
            <div class="mt-5 bg-[#68b8dc] border-solid border border-[#d2d2d2] p-4">
                <p class="my-2">Pour effectuer une nouvelle demande de remplacement, contactez-nous par téléphone au <span class="text-red-500 text-xl">06 69 05 33 00</span> ou par mail à <span class="text-red-500 text-xl">contact@remplaclinic.com</span>.</p>
                <p class="my-4">Un tarif personnalisé adapté à la taille de votre cabinet médical ou de votre établissement de santé vous sera proposé.</p>
                <p class="my-4">Si vous avez un abonnement Remplaclinic en cours, contactez directement votre interlocuteur privilégié.</p>
            </div>
            <div class="mt-5">
                {% include 'search_replacement/_search-result-table.html.twig' %}
            </div>
            {% endif %}
        </div>
	</div>
{% endblock %}
