<form class="flex flex-col gap-5" id="form-contact">
    <div class="w-96 flex flex-row justify-between">
        <label for="form-contact-nom">
            Nom
            <span class="form-required" title="This field is required">*</span>
        </label>
        <input type="text" class="form-text p-1 w-72 outline-none form-contact-element" id="form-contact-nom" data-required="true" />
    </div>
    <div class="w-96 flex flex-row justify-between">
        <label for="form-contact-lastname">Prénom</label>
        <input id="form-contact-lastname" name="lastname" type="text" class="form-text p-1 w-72 outline-none form-contact-element" />
    </div>
    <div class="w-96 flex flex-row justify-between">
        <label for="form-contact-email">
            Email
            <span class="form-required" title="This field is required">*</span>
        </label>
        <input id="form-contact-email" name="email" type="text" class="form-text p-1 w-72 outline-none form-contact-element" data-required="true" />
    </div>
    <div class="w-96 flex flex-row justify-between">
        <label for="form-contact-phone">Téléphone</label>
        <input id="form-contact-phone" name="phoneNumber" type="text" class="form-text p-1 w-72 outline-none" />
    </div>
    <div class="w-96 flex flex-row justify-between">
        <label for="form-contact-message" class="flex flex-row gap-2">
            Message
            <span class="form-required">*</span>
        </label>
        <textarea id="form-contact-message" name="message" class="form-text w-72 h-20 outline-none p-2 form-contact-element" data-required="true"></textarea>
    </div>
    <div class="w-96 flex flex-row justify-between">
        <div>&nbsp;</div>
        <div class="w-72 p-1">
            <input type="submit" value="Envoyer" class="form-submit pl-3 pr-3 p-1 text-xl text-white form-contact-btn-submit" />
        </div>
    </div>
</form>