<form class="flex flex-col gap-5" id="form-contact">
    {% if subject is defined and subject %}
    <div class="w-full flex flex-row justify-between gap-5">
        <label>Ma demande concerne <span class="form-required" title="This field is required">*</span></label>
        <div class="flex-1 flex gap-5">
            <div>
                <input type="checkbox" id="form-contact-subject-1" name="assistance_comptable" value="assistance_comptable" class="form-contact-element" {% if s is defined and s is same as('comptable') %} checked {% endif %}>
                <label class="option" for="form-contact-subject-1">Une assistance comptable </label>
            </div>
            <div>
                <input type="checkbox" id="form-contact-subject-2" name="assistance_juridique" value="assistance_juridique" class="form-contact-element" {% if s is defined and s is same as('juridique') %} checked {% endif %}>
                <label class="option" for="form-contact-subject-2">Une assistance juridique </label>
            </div>
            <div>
                <input type="checkbox" id="form-contact-subject-3" name="assurance_professionnelle" value="assurance_professionnelle" class="form-contact-element" {% if s is defined and s is same as('assurance') %} checked {% endif %}>
                <label class="option" for="form-contact-subject-3">Une assurance professionnelle </label>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="w-[700px] flex flex-row justify-between">
        <label for="form-contact-nom">
            Nom
            <span class="form-required" title="This field is required">*</span>
        </label>
        <input type="text" class="form-text p-1 w-[600px] outline-none form-contact-element" id="form-contact-nom" data-required="true" />
    </div>
    {% set lastname = lastname is defined ? lastname : false %}
    <div class="w-[700px] flex flex-row justify-between">
        <label for="form-contact-lastname">
            Prénom
            {% if lastname %}
                <span class="form-required">*</span>
            {% endif %}
        </label>
        <input id="form-contact-lastname" name="lastname" type="text" class="form-text p-1 w-[600px] outline-none form-contact-element" {% if lastname %} data-required="true" {% endif %} />
    </div>
    {% if position is defined %}
    <div class="w-[700px] flex flex-row justify-between">
        <label for="form-contact-position">Fonction</label>
        <input id="form-contact-position" name="position" type="text" class="form-text p-1 w-[600px] outline-none" />
    </div>
    {% endif %}
    <div class="w-[700px] flex flex-row justify-between">
        <label for="form-contact-email">
            Email
            <span class="form-required" title="This field is required">*</span>
        </label>
        <input id="form-contact-email" name="email" type="text" class="form-text p-1 w-[600px] outline-none form-contact-element" data-required="true" />
    </div>
    {% if telephone is defined %}
    <div class="w-[700px] flex flex-row justify-between">
        <label for="form-contact-phone">
            Téléphone
            {% if telephone %}
                <span class="form-required">*</span>
            {% endif %}
        </label>
        <input id="form-contact-phone" name="phoneNumber" type="text" class="form-text p-1 w-[600px] outline-none form-contact-element" {% if telephone %} data-required="true" {% endif %} />
    </div>
    {% endif %}
    <div class="w-[700px] flex flex-row justify-between">
        <label for="form-contact-message" class="flex flex-row gap-2">
            Message
            <span class="form-required">*</span>
        </label>
        <textarea id="form-contact-message" name="message" class="form-text w-[600px] h-20 outline-none p-2 form-contact-element" data-required="true"></textarea>
    </div>
    <div class="w-[700px] flex flex-row justify-between">
        <div>&nbsp;</div>
        <div class="w-[600px] p-1">
            <input type="submit" value="Envoyer" class="form-submit pl-3 pr-3 p-1 text-xl text-white form-contact-btn-submit" />
        </div>
    </div>
</form>