{% extends 'base-page-register.html.twig' %}

{% block title %}
Contact | Remplaclinic
{% endblock %}

{% block importmap %}
    {{ importmap('contact') }}
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Contact</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="flex flex-col gap-7 w-[830px] mr-14">
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-5">
                <h2 class="text-xl uppercase"><strong>Ouvrir un compte</strong></h2>
                <div class="w-24 h-1 bg-blue"></div>
            </div>
            {% include 'contact/_form.html.twig' with {contact_type: 1030, telephone: true, lastname: true } %}
        </div>
    </div>
</div>
{% endblock %}
