{% extends 'base-page-register.html.twig' %}

{% block title %}
Contact | Remplaclinic
{% endblock %}

{% block importmap %}
    {{ importmap('contact') }}
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Contact</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="content">
        <h2 class="uppercase text-[#191919] mb-[19px] text-lg font-bold">{{ message1 }}</h2>

        <p class="mb-[19px]">{{ message2|raw }}</p>

        <a href="{{ url('app_home') }}" class="text-xl form-submit text-white py-2 px-10">Revenir à l'accueil</a>
    </div>
</div>
{% endblock %}
