{% extends 'base-page-node.html.twig' %}

{% block title %}
Nous contacter | Remplaclinic
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Nous contacter</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="flex flex-col gap-7 w-[830px] mr-14">
        <div class="flex flex-col gap-3">
            <div class="flex flex-col gap-5">
                <h2 class="text-xl uppercase">
                    <strong>Une question, besoin d'aide ?</strong>
                </h2>
                <div class="w-24 h-1 bg-line-blue"></div>
            </div>
            <p>
                Notre équipe est à votre disposition pour vous aider et répondre à vos attentes.
            </p>
            <p>
                Vous pouvez nous contacter :<br />
                - par courrier : 14, avenue de l'Opéra 75001 Paris<br />
                - par téléphone : 06 69 05 33 00<br />
                - par email, en remplissant le formulaire ci-dessous
            </p>
        </div>
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-5">
                <h2 class="text-xl"><strong>Contact</strong></h2>
                <div class="h-1 bg-line-blue"></div>
            </div>
            {% include 'contact/_form.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}