<div class="modal fade" id="filtre-request-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title">Filtre</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Annuler">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="filtre-request-demandeur">Demandeur</label>
                            <select data-applicant-url="{{ path('api_user_liste_select') }}" class="form-control filtre-request-element" id="filtre-request-demandeur" name="applicant" multiple="true">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="filtre-request-status">Statut</label>
                            <select id="filtre-request-status" class="form-control filtre-request-element" name="status">
                                <option value="" selected>- Tous -</option>
                                <option value="0">A valider</option>
                                <option value="1">En cours</option>
                                <option value="2">Archivé</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="filtre-request-speciality">Spécialité</label>
                            <twig:SelectSpeciality class="form-control select2-input filtre-request-element" id="filtre-request-speciality" name="specialities" multiple="true">
                                <option></option>
                            </twig:SelectSpeciality>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="filtre-request-regions">Région</label>
                                <twig:SelectRegion class="form-control select2-input filtre-request-element" multiple="true" id="filtre-request-regions" name="regions">
                                    <option></option>
                                </twig:SelectRegion>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label for="filtre-request-response-count-min">Nombre de reponse</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control filtre-request-element" id="filtre-request-response-count-min" name="response_count_min" placeholder="Min.">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control filtre-request-element" id="filtre-request-response-count-max" name="response_count_max" placeholder="Max.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="filtre-request-created-from-input">Date de publication</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group date datepicker-wrapper" id="filtre-request-created-from" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input filtre-request-element" data-target="#filtre-request-created-from" id="filtre-request-created-from-input" name="created_from" placeholder="De">
                                        <div class="input-group-append" data-target="#filtre-request-created-from" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group date datepicker-wrapper" id="filtre-request-created-to" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input filtre-request-element" data-target="#filtre-request-created-to" id="filtre-request-created-to-input" name="created_to" placeholder="A">
                                        <div class="input-group-append" data-target="#filtre-request-created-to" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="filtre-request-started-from-input">Date de debut</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group date datepicker-wrapper" id="filtre-request-started-from" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input filtre-request-element" data-target="#filtre-request-started-from" id="filtre-request-started-from-input" name="started_from" placeholder="De">
                                        <div class="input-group-append" data-target="#filtre-request-started-from" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group date datepicker-wrapper" id="filtre-request-started-to" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input filtre-request-element" data-target="#filtre-request-started-to" id="filtre-request-started-to-input" name="started_to" placeholder="A">
                                        <div class="input-group-append" data-target="#filtre-request-started-to" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="filtre-request-end-from-input">Date de fin</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group date datepicker-wrapper" id="filtre-request-end-from" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input filtre-request-element" data-target="#filtre-request-end-from" id="filtre-request-end-from-input" name="end_from" placeholder="De">
                                        <div class="input-group-append" data-target="#filtre-request-end-from" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group date datepicker-wrapper" id="filtre-request-end-to" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input filtre-request-element" data-target="#filtre-request-end-to" id="filtre-request-end-to-input" name="end_to" placeholder="A">
                                        <div class="input-group-append" data-target="#filtre-request-end-to" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="filtre-request-sent-from-input">Dernière envoie</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group date datepicker-wrapper" id="filtre-request-sent-from" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input filtre-request-element" data-target="#filtre-request-sent-from" id="filtre-request-sent-from-input" name="sent_from" placeholder="De">
                                        <div class="input-group-append" data-target="#filtre-request-sent-from" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group date datepicker-wrapper" id="filtre-request-sent-to" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input filtre-request-element" data-target="#filtre-request-sent-to" id="filtre-request-sent-to-input" name="sent_to" placeholder="A">
                                        <div class="input-group-append" data-target="#filtre-request-sent-to" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-default btn-flat" id="filtre-request-reset">
                    <i class="fas fa-times"></i> Effacer
                </button>
                <button type="button" class="btn btn-secondary btn-flat" id="filtre-request-validate">
                    <i class="fas fa-filter"></i> Valider
                </button>
            </div>
        </div>
    </div>
</div>