<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon_0.ico') }}" type="image/vnd.microsoft.icon">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/navigation.html.twig' %}
        {% block body %}

        {% endblock %}
        {% include 'partials/footer.html.twig' %}

        <div>
            <div id="rempla-toaster-root" class="fixed top-5 right-5 z-50 flex flex-col gap-2"></div>
        </div>
        {% block bodyjs %}{% endblock %}
    </body>
</html>
