<select {{ attributes }}>
    {% block content %} {% endblock %}
    {% for speciality in this.specialities %}
        <option value="{{ speciality.id }}" {{ speciality.id is same as(this.activeSpeciality) ? 'selected' : '' }}>{{ speciality.name }}</option>
    {% endfor %}
</select>