<select {{ attributes }}>
    {% block content %} {% endblock %}
    {% for region in this.regions %}
        <option value="{{ region.id }}" {{ region.id is same as(this.activeRegion) ? 'selected' : '' }}>{{ region.name }}</option>
    {% endfor %}
</select>