{% extends 'bundles/TwigBundle/Exception/base-error-page.html.twig' %}

{% block title %}
Erreur 500 | Remplaclinic
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px] text-center">Erreur 500</h1>
{% endblock %}

{% block article_content %}
    {% include 'bundles/TwigBundle/Exception/_error-body.html.twig' with { code: 500, errorMessage: "Une erreur est survenue lors de l'affichage de cette page !" } %}
{% endblock %}